<div class="modal fade" id="deleteHostelModal{{hostel.id}}" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Delete Hostel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'delete-hostel' %}">
                    {% csrf_token %}
                    <input type="number" id="hostel_id" name="hostel_id" value="{{hostel.id}}" hidden readonly required />
                    <div class="mb-3">
                        <p>Are you sure you want to delete hostel named <b>{{hostel.name}}</b>?</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>