<div class="modal fade" id="bookHostelRoomModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">New Hostel Room</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'new-hostel-room' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                          <label class="form-label fw-bold">Hostel</label>
                          <select class="form-select" id="hostel" name="hostel" required>
                              <option selected disabled value=""></option>
                              {% for hostel in hostels %}
                                <option value="{{ hostel.id }}">{{ hostel.name }}</option>
                              {% endfor %}
                            </select>
                        </div> 
                      </div>
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Room Number</label>
                  <input
                    type="text"
                    class="form-control"
                    id="room_number"
                    name="room_number"
                    required
                  />
                </div>
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Room Capacity</label>
                    <input
                      type="number"
                      class="form-control"
                      id="room_capacity"
                      name="room_capacity"
                      value="5"
                      required
                    />
                  </div>    
                </div>
               
            
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>