<div class="modal fade" id="removeStudentFromRoomModal{{student.id}}" tabindex="-1" aria-labelledby="newTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTransactionModalLabel">Remove Student From Room</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'remove-student-from-room' %}">
                    {% csrf_token %}
                    <input type="number" id="room_id" name="room_id" value="{{student.room_assigned.id}}" hidden readonly required />
                    <input type="number" id="student_id" name="student_id" value="{{student.id}}" hidden readonly required />
                    <div class="mb-3">
                        <p>Are you sure you want to remove student named <b>{{student.user.name}}</b> from room <b>{{room.room_number}}</b> from hostel named <b>{{room.hostel.name}}</b>?</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                        <button type="submit" class="btn btn-danger">Yes, Remove</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>