<div class="modal fade" id="newRentPaymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">New Rent Payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'new-rent-payment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row mb-2">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Registration Number</label>
                    <input type="text" class="form-control" id="reg_number" name="reg_number" required />
                </div>
                </div>
                <div class="row mb-2">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Amount</label>
                    <input
                      type="text"
                      class="form-control"
                      id="amount"
                      name="amount"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-2">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Transaction Code</label>
                      <input
                        type="text"
                        class="form-control"
                        id="transaction_code"
                        name="transaction_code"
                        required
                      />
                    </div>
                  </div>
            
                <div class="row mb-2">
                    <div class="col">
                        <label class="form-label fw-bold">Month</label>
                        <select class="form-select" id="month" name="month">
                          <option value="">Select Month</option>
                          {% for month in months %}
                            <option value="{{ month }}">{{ month }}</option>
                          {% endfor %}
                        </select>
                      </div>
                </div>
  
               
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>
