<div class="modal fade" id="editBookingModal{{booking.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Booking</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-booking' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" name="booking_id" id="booking_id" value="{{ booking.id }}" hidden readonly />

                <div class="row mb-3">
                    <div class="col">
                        <p>Mark booking for <b>{{booking.first_name}} {{booking.last_name}}</b> as?</p>
                        <select class="form-select" id="status" name="status">
                            <option value="{{booking.status}}">{{booking.status}}</option>
                            {% for status in booking_statuses %}
                                {% if status != booking.status %}
                                    <option value="{{status}}">{{status}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                      </div>
                </div>
               
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>
